<%= turbo_frame_tag Submission.new do %>
  
  <p class="submission-container__text">
      You haven't submitted anything this week.
  </p>

  <div class="flex-center">
    <%= link_to "+ New submission", 
                new_submission_path, 
                class: "my-btn my-btn--dark",
                data: { turbo_frame: dom_id(Submission.new) } %>
  </div>

<% end %>