<div class="my-header">
  <h1>Works</h1>
</div>
<%= render "submissions/current_submission" %>
  
<%= render "submissions/submissions", submissions: @submissions_last_week, header: "Last week", date: last_sunday_at_midnight %>

<%= render "submissions/submissions", submissions: @submissions_before_last_week, header: "Previous week", date: before_last_sunday_at_midnight %>

