<div class="my-header">
  <h1>Display art</h1>
  <%= link_to sanitize("&larr; Back"), request.referrer %>
</div>

<%= turbo_frame_tag nested_dom_id("show", "submission"), src: submission_submission_path(@submission), loading: "lazy" do %>
  <%= render "shared/spinner" %>
<% end %>
